body {
    background-image: url("images/gradient.jpg");
    background-repeat: repeat-x;
}

.green {
    position: relative;
    left: 20px;
    top: 20px;
}

.card {
    position: absolute;
    left: 200px;
    top: 100px;
    z-index: 1;
}

#king {
    top: 130px;
    z-index: 2;
}

#queen {
    top: 160px;
    z-index: 3;
}

#jack {
    top: 190px;
    z-index: 4;
}

#ten {
    top: 220px;
    z-index: 5;
}